#game-board {
    height: 70%;
    background-color: rgb(57, 62, 70);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    padding: 15px;
    margin: auto;
    display: flex;
    border-radius: 50px;
}

#holes {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.side {
    height: 50%;
    display: flex;
}

.hole, .storage {
    width: 7vw;
    height: 80%;
    margin: auto;
    margin-left: 15px;
    margin-right: 15px;
    background: radial-gradient(farthest-corner, rgb(30, 32, 35) 5%, rgb(57, 62, 70) 100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4vw;
}

.storage {
    height: 95%;
}

.seed {
    background-color: rgb(199, 148, 24);
    background-image: linear-gradient(rgb(199, 148, 24), rgb(236, 203, 119), rgb(199, 148, 24));
    height: 20px;
    width: 40px;
    margin: 5px;
    border-radius: 50%;
    align-self: center;
}