#instructions-content {
    font-size: 17px;
    height: 100%;
    overflow-y: scroll;
    margin: -20px;
    padding: 20px;
    scrollbar-width: thin;
}

#instructions-content h2 {
    background-color: rgb(199, 148, 24);
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    font-size: larger;
}

#instructions-content ul {
    list-style: none;
}

#instructions-content li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(199, 148, 24);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}