#navigation-authentication {
    display: block;
}

/* TODO: NOT WORKING */
input {
    filter: none !important;  /* Prevent auto fill from changing color */
}

#navigation-authentication hr {
    margin: 2px;
    color: rgb(255, 255, 255);
}

.navigation-input-field, .navigation-input-button {
    display: block;
    width: 100%;
    height: 35px;
    border: 0px;
    padding: 5px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
}

.navigation-input-field {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    height: 45px;
    border-left-style: double;
    font-size: 15px;
}

.navigation-input-field:hover, .navigation-input-field:focus {
    background-color: rgb(59, 59, 71);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    outline: none;
}

.navigation-input-field:hover {
    transition: 0.4s;
}

.navigation-input-field:focus {
    border-left-width: 8px;
}

#navigation-authentication-buttons {
    height: 35px;
    width: 100%;
    display: flex;
}

#navigation-authentication-buttons button {
    color: rgb(216, 233, 240);
    font-weight: bold;
    font-size: medium;
    width: 50%;
    padding: 0px;
    border: 0px;
}

#navigation-logout {
    text-align: center;
}

#navigation-logout button {
    text-align: center;
    font-weight: bold;
    font-size: medium;
}