#instructions-content {
    font-size: 17px;
    height: 100%;
    overflow-y: scroll;
    margin: -20px;
    padding: 20px;
    scrollbar-width: thin;
}

#instructions-content h2 {
    background-color: rgb(219, 52, 78);
    text-align: center;
    vertical-align: middle;
}

#instructions-content ul {
    list-style: none;
}

#instructions-content li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgb(29, 142, 210); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}