#leaderboard-content table {
    width: 100%;
}

#leaderboard-content td {
    text-align: center;
    vertical-align: middle;
}

#leaderboard-content th {
    background-color: rgb(199, 148, 24);
}

#leaderboard-content tr {
    background-color: rgb(34, 40, 49);
}
