#play-content {
    width: 100%;
    margin: auto;
    vertical-align: middle;
}

#gamemode-buttons {
    display: flex;
}

#singleplayer-button {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#multiplayer-button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gamemode-button {
    font-weight: bold;
    font-size: medium;
    width: 50%;
    height: 40px;
    padding: 0px;
    border: 0px;
}

#play-content table {
    margin: auto;
    margin-top: 20px;
    text-align: left;
}

#play-content table tr {
    height: 55px;
}

#play-content table td {
    width: 50%;
}

#start-game-button {
    font-weight: bold;
    font-size: medium;
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 5px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: rgb(199, 148, 24);
    border-radius: 10px;
}

.slider::-webkit-slider-thumb { /* Penso que isto nao funciona em Firefox */
    -webkit-appearance: none; /* Override default look */
    background: rgb(219, 52, 78);
    width: 15px;
    height: 15px;
    border-radius: 10px;
}

.slider::-webkit-slider-thumb:hover {
    transition: 0.4s;
    background: rgb(148, 38, 55);
}

#singleplayer-options select {
    background-color: rgb(199, 148, 24);
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

#singleplayer-options select:hover {
    transition: 0.05s;
    background-color: rgb(163, 123, 21);
}
