nav {
    width: 325px;
    height: 100vh;
    background-color: #454553;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

#navigation-logo {
    
}

#navigation-logo img {
    width: 75px;
    display: block;
    margin: auto;
    padding: 10px;
}

#navigation-menus {

}

#navigation-menus table {
    width: 100%;
}

#navigation-menus td {
    padding: 0px;
    font-size: larger;
    height: 40px;
}

#navigation-menus img {
    height: 35px;
    margin: 5px;
    margin-left: 15px;
    vertical-align: middle;
}

#navigation-login {
    display: block;
}

.navigation-input-field, .navigation-input-button {
    display: block;
    width: 100%;
    height: 35px;
    border: 0px;
    padding: 5px;
    padding-left: 10px;
    transition: 0.4s;
    color: rgb(255, 255, 255);
}

.navigation-input-field {
    background-color: rgba(0, 0, 0, 0);
    border-left-style: double;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

.navigation-input-field:hover, .navigation-input-field:focus {
    background-color: rgb(59, 59, 71);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    outline: none;
}

.navigation-input-button {
    background-color: rgb(74, 160, 213);
    color: rgb(216, 233, 240);
    font-weight: bold;
    font-size: medium;
}

#navigation-login-buttons button:hover {
    background-color: rgb(182, 71, 88);
}

#navigation-login-buttons button:active {
    background-color: rgb(145, 56, 69);
    transition: 0.1s;
}

.navigation-input-field:focus {
    border-left-width: 8px;
}

#navigation-login-buttons {
    height: 35px;
    width: 100%;
    display: flex;
    background-color: rgb(213, 71, 93);
}

.navigation-input-button:hover {
    background-color: rgb(62, 131, 173);
}

.navigation-input-button:active {
    background-color: rgb(53, 108, 143);
    transition: 0.1s;
}

#navigation-login-buttons button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(216, 233, 240);
    font-weight: bold;
    font-size: medium;
    width: 50%;
    padding: 0px;
    border: 0px;
    transition: 0.5s;
}