#pop-up-wrapper {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    display: flex;
    justify-content: center;
}

#pop-up {
    margin: auto;
    box-sizing: border-box;
    width: 25%;
    background-color: rgb(57, 62, 70);
    padding: 20px;
    border-radius: 5px;
}

#pop-up-title {
    margin-top: 0px;
    font-weight: bold;
    font-size: x-large;
}

.pop-up-button {
    font-weight: bold;
    font-size: large;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}